@import "global.less";
@import "navigation.less";
@import "footer.less";


h1{
    text-align: center;
}
h2{
    text-align: center;
}
img.auction1{
    width: 100%;
    padding: 0px 250px;
    height: 300px;


}

img.auction3{
    width: 40%;
}
div.div1{
    display: flex;
    flex-direction: column;
}
p{
    text-align: center;
}
footer.bottom{
    padding:0px;
}

 